{# base template for all content pages - displays nav and footer #}

{% extends "base.jinja" %}

{% block body %}

<form id="searchform" action="{{url_for('get_eln_index')}}"></form>
<nav class="navbar" style = "background-color: var(--univie-blue)">
  <div class="container-fluid">
      <a class="navbar-brand me-3" href="/" style="font-weight:600;">
        <img style="height:3rem" src="{{url_for('static', filename='UniWien_white.png')}}">
      </a>
      <ul class="navbar-nav me-3 mb-2 flex-row flex-fill">
        <li class="nav-item me-3"><a class="nav-link" href="{{url_for('get_eln_index')}}" style="color:white;"><i class="iconoir-notes" style="vertical-align:middle;scale:1.2;"></i>  Electronic Lab Notebook</a></li>
        <li class="nav-item me-3"></li><a class="nav-link" href="{{url_for('get_phmeter_control')}}" style="color:white;"><i class="iconoir-computer" style="vertical-align:middle;scale:1.2;"></i>  pH-Meter Control</a></li>
      </ul>
    <form  class="d-flex me-3" role="search">
      <input class="d-flex form-control me-2" type="search" placeholder="Search Lab Notes..." aria-label="Search"/ form="searchform" name="query">
      <button class="btn btn-light" type="submit">Search</button>
    </form>
    <a class="navbar-brand" href="/" style="color:white; font-weight:600">
        PR Automation in Everyday Lab Routine<br>
        <small class="d-none d-md-flex justify-content-between"><span>Grasser, Groß, Müller, Neiber</span>   
        <span><i class="iconoir-user-circle" style="vertical-align:middle;scale:1.2;"></i> {{current_user.id}}</span></small></a>
    </a>
  </div>
</nav>


<div class="container mt-3">
    {% block content%}

    {% endblock%}
</div>

{% endblock %}