{% extends "content-page.jinja"%}
{# This page renders (and allows modification of) a single ELN Notebook #}

{% block head %}
<!-- Include tiny HTML editor for rich formatting -->
<script src="https://unpkg.com/tiny-editor/dist/bundle.js"></script>

{% endblock %}

{% block content %}
<form action="{{url_for('get_eln_delete', id=id)}}" id="deleteform"></form>
<div class="row mb-3">
    <div class="col-6">
        <div class="input-group mb-1">
              <span class="input-group-text"><i class="iconoir-user-circle"
                style="vertical-align:middle;scale:1.2;padding-right:0.5em;"></i>   {{nb.creator}}</span>
              <select class="form-control" id="publicprivate" disabled>
                <option {% if nb.public %} selected {% endif%}>Public</option>
                <option {% if not nb.public %} selected {% endif%}>Private</option>
              </select>
        </div>
    </div>
    <div class="col-6">
        <button id="btn-edit" class="btn btn-primary" onclick="nbSwitchToEdit()"><i class="iconoir-page-edit"
                style="vertical-align:middle;scale:1.2;"></i> Edit Notebook</button>
        <button id="btn-save" class="btn btn-success" onclick="nbSave('{{url_for('post_eln_update', id=id)}}')" style="display:none">Save Changes</button>
        <button id="btn-delete" class="btn btn-danger" type="submit" form="deleteform">Delete Notebook</button>
    </div>

</div>

<div class="row mb-3">
    <h1 id="nb-title">{{nb.title}}</h1>
    <input class="form-control" name="title" id="nb-title-input" style="display:none" value="{{nb.title}}">
</div>

<div id="nb-content">
    {{nb.content}}
</div>





{% endblock %}